<!DOCTYPE html>
<html lang="en" ng-controller="MainCtrl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
        <base href="<%= baseURL %>">
        <link href="styles/app.css" rel="stylesheet" />
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <title>{{about.name}}</title>
    </head>
    
    <body style="background-color: {{backgroundColor}}; color: {{textColor}};">
        <header>
            <h1><a href="<%= baseURL %>">{{about.name}}</a></h1>
            <table>
                <tr>
                    <th>Date of Birth</th>
                    <td>{{about.dateOfBirth | date:'MMM d, yyyy'}} <span>— {{about.dateOfBirth | age}} years old</span></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td ng-bind-html="about.address | nl2br"></td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>{{about.phoneNumber}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><a href="mailto:{{about.email}}">{{about.email}}</a></td>
                </tr>
                <tr>
                    <th>GitHub</th>
                    <td><a href="http://www.github.com/{{about.github}}">{{about.github}}</a></td>
                </tr>
            </table>
        </header>
        
        <timeline start-at="2003-07-01" end-at="{{timelineEndDate}}" data="timelineData" click="showEvent(eventID)"></timeline>
        
        <main ng-view></main>
        
        <footer>
            Built with
            <a href="http://getbootstrap.com/">Twitter Bootstrap</a>,
            <a href="http://angularjs.org/">AngularJS</a>,
            <a href="http://requirejs.org/">RequireJS</a>,
            <a href="http://snapsvg.io/">Snap.svg</a>.
        </footer>
    </body>
</html>