<div ng-if="isPeriod">
    <aside class="pull-right">
        <img ng-if="event.logo" ng-src="{{event.logo.image}}" width="{{event.logo.width}}" height="{{event.logo.height}}">
        <ul>
            <li ng-if="event.websiteLink"><a href="{{event.websiteLink}}">Website</a></li>
        </ul>
    </aside>
    <h2 style="color: {{event.titleTextColor}}">{{event.title}}</h2>
    <div class="time">
        {{event.startAt | date:'mediumDate'}} — {{(event.endAt | date:'mediumDate') || 'Today'}}
    </div>
</div>
<div ng-if="isMilestone">
    <aside class="pull-right">
        <img ng-src="{{event.iconImage}}" width="100" height="100">
        <ul>
            <li ng-if="event.productPageLink"><a href="{{event.productPageLink}}">Product Page</a></li>
            <li ng-if="event.previewLink"><a href="{{event.previewLink}}" target="_self">Preview</a></li>
            <!-- target="_self" is a hack to avoid the routeProvider to hijack URL
                 Source: http://stackoverflow.com/questions/11580004/angular-js-link-behaviour-disable-deep-linking-for-specific-urls -->
            <li ng-if="event.appStoreLink"><a href="{{event.appStoreLink}}">App Store</a></li>
            <li ng-if="event.videoLink"><a href="{{event.videoLink}}" target="_self">Video</a></li>
            <li ng-if="event.sourceCodeLink"><a href="{{event.sourceCodeLink}}">Source Code</a></li>
        </ul>
    </aside>
    <h2 style="color: {{event.titleTextColor}}">{{event.title}}</h2>
    <div class="time">
        {{event.date | date:'mediumDate'}}
    </div>
    <div class="info" ng-bind-html="(event.description || 'No description.') | nl2br">
    </div>
    <div class="technologies">
        <h3>Technologies</h3>
        <ul>
            <li class="label label-default" ng-repeat="technology in event.technologies">{{technology}}</li>
        </ul>
    </div>
</div>